<!DOCTYPE html>
<html>
<head>
	<title>User Wallet</title>
</head>
<body>
	<h1>Wallets.</h1>
	<h2>BTC</h2>
	<button onclick="location.href='/user/wallet/balance?coin=btc'" type="button">View Balance</button>
	<button onclick="location.href='/user/wallet/address?coin=btc'" type="button">View Address(for receiving purpose)</button>
	<button onclick="location.href='/user/wallet/send?coin=btc'" type="button">SEND</button>

	<h2>BCH</h2>
	<button onclick="location.href='/user/wallet/balance?coin=bch'" type="button">View Balance</button>
	<button onclick="location.href='/user/wallet/address?coin=bch'" type="button">View Address(for receiving purpose)</button>
	<button onclick="location.href='/user/wallet/send?coin=bch'" type="button">SEND</button>

	<h2>LTC</h2>
	<button onclick="location.href='/user/wallet/balance?coin=ltc'" type="button">View Balance</button>
	<button onclick="location.href='/user/wallet/address?coin=ltc'" type="button">View Address(for receiving purpose)</button>
	<button onclick="location.href='/user/wallet/send?coin=ltc'" type="button">SEND</button>

	<h2>XRP</h2>
	<button onclick="location.href='/user/wallet/balance?coin=xrp'" type="button">View Balance</button>
	<button onclick="location.href='/user/wallet/address?coin=xrp'" type="button">View Address(for receiving purpose)</button>
	<button onclick="location.href='/user/wallet/send?coin=xrp'" type="button">SEND</button>
</body>
</html>